td {
  text-align: center;
  word-wrap: break-word;
  padding-left: 0.3rem;
  padding-right: 0.3rem;
}

th {
  text-align: center;
}

table {
  table-layout: fixed;
}

div {
  margin-top: 4%;
}

.tablecss {
    margin-left: 3%
}
